<html>
    <head>
        <title>Getting started</title>
        <meta charset="utf-8">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./style.css">
        <script src="./process.js"></script>
    </head>
    <body>
        <h1 style="color:white;">API routes</h1>
        <i>Nhấn vào các mục để xem thông tin</i>
        <div id="tBar">
            <label><i class="fas fa-angle-double-up"></i>Collapse all</label>
            <label><i class="fas fa-angle-double-down"></i>Expand all</label>
        </div>
        <h3><i class="fas fa-caret-right"></i>Bài tập</h3>
            <div class="part-content"><p>Lấy danh sách: GET <i>*./api/baitap/lists</i></p>
                <p>Thêm mới: POST <i>*./api/baitap/add</i></p>
                <p>Sửa: PUT <i>*./api/baitap/update</i></p>
            </div>
        <!--
            Giãn dòng
        -->
            <h3><i class="fas fa-caret-right"></i>Bài thi</h3>
            <div class="part-content">
                <p>Lấy danh sách: GET <i>*./api/baithi/lists</i></p>
                <p>Thêm mới: POST <i>*./api/baithi/add</i></p>
                <p>Sửa: PUT <i>*./api/baithi/update</i></p>
                
            </div>
        <!--

        -->
            <h3><i class="fas fa-caret-right"></i>Sinh viên</h3>
            <div class="part-content">
                <p>Lấy danh sách: GET <i>*./api/sinhvien/lists</i></p>
                <p>Thêm mới: POST <i>*./api/sinhvien/add</i></p>
                <p>Sửa: PUT <i>*./api/sinhvien/update</i></p>
            </div>

<!--

        -->
            <h3><i class="fas fa-caret-right"></i>Lớp học</h3>
            <div class="part-content">
                <p>Chưa có thông tin</p>
            </div>



        <b style="color:red;">Chú thích: </b>
        <p style="color:white"><b>*</b>: là đường dẫn hiện tại</p>
    </body>
</html>