*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: inline-block;
    margin: 1%;
    background-image: url('https://gameranx.com/wp-content/uploads/2017/06/Anthem-4K-Wallpaper.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    background-attachment: fixed;
    background-size: cover;
}

h3{
    color: #28FDCD    ;
    cursor: pointer;
    user-select: none;
}
h3:hover{
    color: #0000ac;
}
.part-content{
    background-color: #111111;
    color:#fff;
    border-radius: 2px;
    overflow: hidden;
    max-height:0;
    transition: max-height 0.5s ease-in-out;
}
#tBar{
    padding:5px;
}
#tBar label{
    padding:5px;
    cursor: pointer;
    user-select: none;
    background-color: cadetblue;
    color:white;
}
#tBar label:hover{
    background-color: #009C83
    ;
}